<div class="container m-5">
  <div class="card">
    <div class="card-header">
      <h4>{{ titulo }}</h4>
    </div>

    <form class="container">
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input
          type="text"
          id="nombre"
          name="nombre"
          class="form-control"
          [(ngModel)]="cliente.nombre"
        />
      </div>
      <div class="form-group">
        <label for="documento">Documento</label>
        <input
          type="text"
          id="documento"
          name="documento"
          class="form-control"
          [(ngModel)]="cliente.documento"
        />
      </div>
      <div class="form-group m-2">
        <div class="position-relative">
          <button type="button" class="btn btn-success" (click)="crear()">
            {{ cliente.id ? "Editar" : "Crear" }}
          </button>
        </div>
      </div>
    </form>
    <div class="card-body">
      <button class="btn btn-info float-end" routerLink="/clientes">
        Regresar
      </button>
    </div>
  </div>
</div>
