<div class="container m-5">
  <div class="card">
    <div class="card-header">
      <h4>{{ titulo }}</h4>
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let lugar of lista">
            <th scope="row">{{ lugar.id }}</th>
            <td>{{ lugar.nombre_lugar }}</td>
            <td>
              <button
                type="button"
                class="btn btn-outline-primary me-2"
                [routerLink]="['/lugares/form', lugar.id]"
              >
                Editar
              </button>
              <button
                type="button"
                class="btn btn-outline-danger"
                (click)="eliminar(lugar)"
              >
                Eliminar
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <button class="btn btn-info float-end" routerLink="/clientes/form">
        Crear nuevo lugar
      </button>
    </div>
  </div>
</div>
